[Unit]
Description=FastAPI Dashboard App
After=network.target

[Service]
ExecStart=/srv/FastAPI-Dashboard/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 3000 --no-access-log
WorkingDirectory=/srv/FastAPI-Dashboard
Restart=on-failure
User=mega
Group=mega
#StandardOutput=null
#StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
