<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}FastAPI Base{% endblock %}</title>
        
        <!-- Library styles -->
        <link href="/assets/bootstrap-5.3.8/bootstrap.min.css" rel="stylesheet" />
        <link href="/assets/datatables-2.3.6/datatables.min.css" rel="stylesheet" />
        <link href="/assets/fontawesome-6.7.2/all.min.css" rel="stylesheet" />

        <!-- Global user styles -->
        <link href="/assets/css/style.css" rel="stylesheet" />
        
        <!-- Page specific user styles -->
        {% block style %}
        {% endblock %}
    </head>

    <body>
        <!-- Navigation Bar -->
        {% block navbar %}
        {% endblock %}

        <!----- Side Bar ----->
        {% block sidebar %}
        {% endblock %}

        <!-- Main Content Wrapper -->
        <main class="main-wrapper">
            <!--- Page Content --->
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <!-- Library scripts -->
        <script src="/assets/bootstrap-5.3.8/bootstrap.bundle.min.js"></script>
        <script src="/assets/jquery-3.7.1/jquery-3.7.1.min.js"></script>
        <script src="/assets/datatables-2.3.6/datatables.min.js"></script>
        
        <!-- Global user scripts -->
        <script src="/assets/js/script.js" type="module"></script>
        
        <!-- Page specific user scripts -->
        {% block script %}
        {% endblock %}
    </body>
</html>
