<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}FastAPI Base{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    {% block style %}
    {% endblock %}
</head>

<body class="container">
    <!-- Navigation Bar -->
    <nav class="navbar" id="navbar">
        <div class="nav-container">
        <a href="/" class="logo">Mediahub</a>
        <button id="menu-toggle" class="menu-toggle" aria-label="Toggle Menu">☰</button>
        <ul class="nav-links" id="nav-links">
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="/sites">Sites</a></li>
                    <li><a class="dropdown-item" href="/webpad">Webpad</a></li>
                    <li><a class="dropdown-item" href="http://192.168.8.2:8090">qBittorrent</a></li>
                    <li><a class="dropdown-item" href="http://192.168.8.2:5244">Media Manager</a></li>
                    <li><a class="dropdown-item" href="http://192.168.8.2/sites/AriaNg-1.3.10">Download Manager</a></li>
                </ul>
            </li>
            
            {% if user %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="/users">Users</a></li>                   
                    <li><a class="dropdown-item" href="/chatbot">Chatbot</a></li>                    
                    <li><a class="dropdown-item" href="/upload">File Upload</a></li>                    
                    <li><a class="dropdown-item" href="/system">System Info</a></li>
                    <li><a class="dropdown-item" href="/environment">Environment</a></li> 
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
                <li><a href="/login" class="btn btn-primary">Login</a></li>
            {% endif %}
        </ul>
        </div>

        <div>
            <button id="theme-toggle" aria-label="Toggle Dark Mode">🌙</button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Page Footer -->
    <footer class="text-center text-muted py-3 mt-5">
        <p>© 2025 GSM Rana. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.js"></script>
    {% block script %}
    {% endblock %}

</body>
</html>
