<nav class="navbar" id="navbar">
    <div class="nav-container">
        <a href="/" class="logo">Mediahub</a>
        <button id="menu-toggle" class="menu-toggle" aria-label="Toggle Menu">☰</button>
        
        <ul class="nav-links" id="nav-links">
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>            
            <li><a href="/pages/document">Dashboard</a></li>
        </ul>
    </div>

    <div>
        <button id="theme-toggle" aria-label="Toggle Dark Mode">🌙</button>
    </div>
</nav>
